!!!
%html
  %head
    %title= "Panic Board Chess"
    %meta{"application-name" => "Panic Board Chess", "data-allows-scrolling" => "NO"}

    %link{:rel => "stylesheet", :href => "/stylesheets/chessboard.css", :type => "text/css"}
    %script{:src => "javascripts/jquery.js"}
    %script{:src => "javascripts/chessboard.js"}
    %script{:src => "javascripts/panicboardchess.js"}

  %body
    #chessboard
